<div #scrollable >
	<mat-accordion class="savage-app-sidebar" [multi]="true" >
		<mat-expansion-panel #elemPanel [expanded]="true" >
			<mat-expansion-panel-header>
				<mat-panel-title class="savage-app-sidebar-header" >
					<mat-icon svgIcon="vector-selection" ></mat-icon>
					<span class="savage-app-sidebar-header-text" >Elements</span>
				</mat-panel-title>
			</mat-expansion-panel-header>

			<app-sidebar-elements [selection]="canvas.selection" [scrollable]="scrollable" ></app-sidebar-elements>
		</mat-expansion-panel>

		<mat-expansion-panel >
			<mat-expansion-panel-header>
				<mat-panel-title class="savage-app-sidebar-header" >
					<mat-icon svgIcon="scatter-plot" ></mat-icon>
					<span class="savage-app-sidebar-header-text" >Properties</span>
				</mat-panel-title>
			</mat-expansion-panel-header>

			<app-sidebar-props [selection]="canvas.selection" ></app-sidebar-props>
		</mat-expansion-panel>

		<mat-expansion-panel >
			<mat-expansion-panel-header>
				<mat-panel-title class="savage-app-sidebar-header" >
					<mat-icon svgIcon="presentation" ></mat-icon>
					<span class="savage-app-sidebar-header-text" >Presentation</span>
				</mat-panel-title>
			</mat-expansion-panel-header>

			<app-sidebar-presentation [selection]="canvas.selection" ></app-sidebar-presentation>
		</mat-expansion-panel>

		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title class="savage-app-sidebar-header" >
					<mat-icon svgIcon="format-text" ></mat-icon>
					<span class="savage-app-sidebar-header-text" >Text</span>
				</mat-panel-title>
			</mat-expansion-panel-header>

			<app-sidebar-text [selection]="canvas.selection" ></app-sidebar-text>
		</mat-expansion-panel>
	</mat-accordion>
</div>
