<ng-template #animation let-node >
	<ng-container [ngSwitch]="node.name" >
		<svg:animate *ngSwitchCase="'animate'" [appAttrs]="node" ></svg:animate>
		<svg:animateMotion *ngSwitchCase="'animateMotion'" [appAttrs]="node" >
			<svg:mpath *ngFor="let n of node.children" [appAttrs]="n" ></svg:mpath>
		</svg:animateMotion>
		<svg:animateTransform *ngSwitchCase="'animateTransform'" [appAttrs]="node" ></svg:animateTransform>
		<svg:discard *ngSwitchCase="'discard'" [appAttrs]="node" ></svg:discard>
		<svg:set *ngSwitchCase="'set'" [appAttrs]="node" ></svg:set>
	</ng-container>
</ng-template>


<ng-template #text let-node >
	<ng-container [ngSwitch]="node.name" >
		<svg:tspan *ngSwitchCase="'tspan'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
		>
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="text; context: { $implicit: n }" ></ng-container>
				<ng-container *ngIf="n.type === 'text'" >{{ n.value }}</ng-container>
			</ng-container>
		</svg:tspan>
		<svg:textPath
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
		>
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="text; context: { $implicit: n }" ></ng-container>
				<ng-container *ngIf="n.type === 'text'" >{{ n.value }}</ng-container>
			</ng-container>
		</svg:textPath>
	</ng-container>
</ng-template>


<ng-template #graphics let-node >
	<ng-container [ngSwitch]="node.name" >
		<svg:circle *ngSwitchCase="'circle'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			appDraggable
			[containment]="scrollable"
			[autoScroll]="scrollable"
			[snap]="canvas.snap"
			[disabled]="!canMove(node)"
			[transform]="node.attributes.transform"
			(dragging)="onDrag($event, node)"
			tabindex="-1"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:circle>
		<svg:ellipse *ngSwitchCase="'ellipse'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			appDraggable
			[containment]="scrollable"
			[autoScroll]="scrollable"
			[snap]="canvas.snap"
			[disabled]="!canMove(node)"
			[transform]="node.attributes.transform"
			(dragging)="onDrag($event, node)"
			tabindex="-1"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:ellipse>
		<svg:image *ngSwitchCase="'image'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			appDraggable
			[containment]="scrollable"
			[autoScroll]="scrollable"
			[snap]="canvas.snap"
			[disabled]="!canMove(node)"
			[transform]="node.attributes.transform"
			(dragging)="onDrag($event, node)"
			tabindex="-1"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:image>
		<svg:line *ngSwitchCase="'line'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			appDraggable
			[containment]="scrollable"
			[autoScroll]="scrollable"
			[snap]="canvas.snap"
			[disabled]="!canMove(node)"
			[transform]="node.attributes.transform"
			(dragging)="onDrag($event, node)"
			tabindex="-1"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:line>
		<svg:path *ngSwitchCase="'path'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			appDraggable
			[containment]="scrollable"
			[autoScroll]="scrollable"
			[snap]="canvas.snap"
			[disabled]="!canMove(node)"
			[transform]="node.attributes.transform"
			(dragging)="onDrag($event, node)"
			tabindex="-1"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:path>
		<svg:polygon *ngSwitchCase="'polygon'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			appDraggable
			[containment]="scrollable"
			[autoScroll]="scrollable"
			[snap]="canvas.snap"
			[disabled]="!canMove(node)"
			[transform]="node.attributes.transform"
			(dragging)="onDrag($event, node)"
			tabindex="-1"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:polygon>
		<svg:polyline *ngSwitchCase="'polyline'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			appDraggable
			[containment]="scrollable"
			[autoScroll]="scrollable"
			[snap]="canvas.snap"
			[disabled]="!canMove(node)"
			[transform]="node.attributes.transform"
			(dragging)="onDrag($event, node)"
			tabindex="-1"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:polyline>
		<svg:rect *ngSwitchCase="'rect'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			appDraggable
			[containment]="scrollable"
			[autoScroll]="scrollable"
			[snap]="canvas.snap"
			[disabled]="!canMove(node)"
			[transform]="node.attributes.transform"
			(dragging)="onDrag($event, node)"
			tabindex="-1"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:rect>
		<svg:text *ngSwitchCase="'text'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			appDraggable
			[containment]="scrollable"
			[autoScroll]="scrollable"
			[snap]="canvas.snap"
			[disabled]="!canMove(node)"
			[transform]="node.attributes.transform"
			(dragging)="onDrag($event, node)"
			tabindex="-1"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }"></ng-container>
				<ng-container *ngTemplateOutlet="text; context: { $implicit: n }" ></ng-container>
			</ng-container>
		</svg:text>
		<svg:use *ngSwitchCase="'use'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			appDraggable
			[containment]="scrollable"
			[autoScroll]="scrollable"
			[snap]="canvas.snap"
			[disabled]="!canMove(node)"
			[transform]="node.attributes.transform"
			(dragging)="onDrag($event, node)"
			tabindex="-1"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:use>
	</ng-container>
</ng-template>


<ng-template #gradient let-node >
	<ng-container [ngSwitch]="node.name" >
		<svg:linearGradient *ngSwitchCase="'linearGradient'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="stop; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:linearGradient>
		<svg:radialGradient *ngSwitchCase="'radialGradient'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="stop; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:radialGradient>
	</ng-container>
	<ng-template #stop let-n >
		<svg:stop [appAttrs]="n" >
			<ng-container *ngFor="let a of n.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: a }" ></ng-container>
			</ng-container>
		</svg:stop>
	</ng-template>
</ng-template>


<ng-template #primitive let-node >
	<ng-container [ngSwitch]="node.name" >
		<svg:feBlend *ngSwitchCase="'feBlend'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feBlend>
		<svg:feColorMatrix *ngSwitchCase="'feColorMatrix'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feColorMatrix>
		<svg:feComponentTransfer *ngSwitchCase="'feComponentTransfer'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container [ngSwitch]="n.name" >
					<svg:feFuncA *ngSwitchCase="'feFuncA'" [appAttrs]="n" >
						<ng-container *ngFor="let a of n.children" >
							<ng-container *ngTemplateOutlet="animation; context: { $implicit: a }" ></ng-container>
						</ng-container>
					</svg:feFuncA>
					<svg:feFuncB *ngSwitchCase="'feFuncB'" [appAttrs]="n" >
						<ng-container *ngFor="let a of n.children" >
							<ng-container *ngTemplateOutlet="animation; context: { $implicit: a }" ></ng-container>
						</ng-container>
					</svg:feFuncB>
					<svg:feFuncG *ngSwitchCase="'feFuncG'" [appAttrs]="n" >
						<ng-container *ngFor="let a of n.children" >
							<ng-container *ngTemplateOutlet="animation; context: { $implicit: a }" ></ng-container>
						</ng-container>
					</svg:feFuncG>
					<svg:feFuncR *ngSwitchCase="'feFuncR'" [appAttrs]="n" >
						<ng-container *ngFor="let a of n.children" >
							<ng-container *ngTemplateOutlet="animation; context: { $implicit: a }" ></ng-container>
						</ng-container>
					</svg:feFuncR>
				</ng-container>
			</ng-container>
		</svg:feComponentTransfer>
		<svg:feComposite *ngSwitchCase="'feComposite'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feComposite>
		<svg:feConvolveMatrix *ngSwitchCase="'feConvolveMatrix'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feConvolveMatrix>
		<svg:feDiffuseLighting *ngSwitchCase="'feDiffuseLighting'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children">
				<ng-container [ngSwitch]="n.name">
					<svg:feDistantLight *ngSwitchCase="'feDistantLight'" [appAttrs]="n" >
						<ng-container *ngFor="let a of n.children" >
							<ng-container *ngTemplateOutlet="animation; context: { $implicit: a } "></ng-container>
						</ng-container>
					</svg:feDistantLight>
					<svg:fePointLight *ngSwitchCase="'fePointLight'" [appAttrs]="n" >
						<ng-container *ngFor="let a of n.children" >
							<ng-container *ngTemplateOutlet="animation; context: { $implicit: a } "></ng-container>
						</ng-container>
					</svg:fePointLight>
					<svg:feSpotLight *ngSwitchCase="'feSpotLight'" [appAttrs]="n" >
						<ng-container *ngFor="let a of n.children" >
							<ng-container *ngTemplateOutlet="animation; context: { $implicit: a } "></ng-container>
						</ng-container>
					</svg:feSpotLight>
				</ng-container>
			</ng-container>
		</svg:feDiffuseLighting>
		<svg:feDisplacementMap *ngSwitchCase="'feDisplacementMap'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feDisplacementMap>
		<svg:feDropShadow *ngSwitchCase="'feDropShadow'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feDropShadow>
		<svg:feFlood *ngSwitchCase="'feFlood'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feFlood>
		<svg:feGaussianBlur *ngSwitchCase="'feGaussianBlur'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feGaussianBlur>
		<svg:feImage *ngSwitchCase="'feImage'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feImage>
		<svg:feMerge *ngSwitchCase="'feMerge'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<svg:feMergeNode [appAttrs]="n" >
					<ng-container *ngFor="let a of n.children" >
						<ng-container *ngTemplateOutlet="animation; context: { $implicit: a } "></ng-container>
					</ng-container>
				</svg:feMergeNode>
			</ng-container>
		</svg:feMerge>
		<svg:feMorphology *ngSwitchCase="'feMorphology'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feMorphology>
		<svg:feOffset *ngSwitchCase="'feOffset'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feOffset>
		<svg:feSpecularLighting *ngSwitchCase="'feSpecularLighting'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children">
				<ng-container [ngSwitch]="n.name">
					<svg:feDistantLight *ngSwitchCase="'feDistantLight'" [appAttrs]="n" >
						<ng-container *ngFor="let a of n.children" >
							<ng-container *ngTemplateOutlet="animation; context: { $implicit: a } "></ng-container>
						</ng-container>
					</svg:feDistantLight>
					<svg:fePointLight *ngSwitchCase="'fePointLight'" [appAttrs]="n" >
						<ng-container *ngFor="let a of n.children" >
							<ng-container *ngTemplateOutlet="animation; context: { $implicit: a } "></ng-container>
						</ng-container>
					</svg:fePointLight>
					<svg:feSpotLight *ngSwitchCase="'feSpotLight'" [appAttrs]="n" >
						<ng-container *ngFor="let a of n.children" >
							<ng-container *ngTemplateOutlet="animation; context: { $implicit: a } "></ng-container>
						</ng-container>
					</svg:feSpotLight>
				</ng-container>
			</ng-container>
		</svg:feSpecularLighting>
		<svg:feTile *ngSwitchCase="'feTile'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feTile>
		<svg:feTurbulence *ngSwitchCase="'feTurbulence'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n } "></ng-container>
			</ng-container>
		</svg:feTurbulence>
	</ng-container>
</ng-template>


<ng-template #misc let-node >
	<ng-container [ngSwitch]="node.name" >
		<svg:clipPath *ngSwitchCase="'clipPath'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }"></ng-container>
				<ng-container *ngTemplateOutlet="graphics; context: { $implicit: n }"></ng-container>
			</ng-container>
		</svg:clipPath>
		<svg:filter *ngSwitchCase="'filter'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="primitive; context: { $implicit: n }" ></ng-container>
			</ng-container>
		</svg:filter>
		<svg:foreignObject *ngSwitchCase="'foreignObject'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			tabindex="-1"
			[innerHTML]="stringify(node)"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)"
		>
		</svg:foreignObject>
		<style *ngSwitchCase="'style'" [appAttrs]="node" [innerHTML]="stringify(node)" ></style>
	</ng-container>
</ng-template>


<ng-template #container let-node >
	<ng-container [ngSwitch]="node.name" >
		<svg:a *ngSwitchCase="'a'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="graphics; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="container; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="gradient; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="misc; context: { $implicit: n }" ></ng-container>
			</ng-container>
		</svg:a>
		<svg:defs *ngSwitchCase="'defs'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="graphics; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="container; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="gradient; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="misc; context: { $implicit: n }" ></ng-container>
			</ng-container>
		</svg:defs>
		<svg:g *ngSwitchCase="'g'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="graphics; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="container; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="gradient; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="misc; context: { $implicit: n }" ></ng-container>
			</ng-container>
		</svg:g>
		<svg:marker *ngSwitchCase="'marker'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="graphics; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="container; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="gradient; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="misc; context: { $implicit: n }" ></ng-container>
			</ng-container>
		</svg:marker>
		<svg:mask *ngSwitchCase="'mask'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="graphics; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="container; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="gradient; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="misc; context: { $implicit: n }" ></ng-container>
			</ng-container>
		</svg:mask>
		<svg:pattern *ngSwitchCase="'pattern'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="graphics; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="container; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="gradient; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="misc; context: { $implicit: n }" ></ng-container>
			</ng-container>
		</svg:pattern>
		<svg:svg *ngSwitchCase="'svg'"
			[appAttrs]="node"
			[skipAttrs]="['tabindex', 'pointer-events']"
			[appRegistry]="node.nid"
			tabindex="-1"
			(click)="onClick($event, node)"
			(dblclick)="onDblClick($event, node)"
			(mousedown)="onMouseDown($event, node)"
			(keydown)="onKeyDown($event, node)"
		>
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="graphics; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="container; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="gradient; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="misc; context: { $implicit: n }" ></ng-container>
			</ng-container>
		</svg:svg>
		<svg:switch *ngSwitchCase="'switch'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="graphics; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="container; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="gradient; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="misc; context: { $implicit: n }" ></ng-container>
			</ng-container>
		</svg:switch>
		<svg:symbol *ngSwitchCase="'symbol'" [appAttrs]="node" >
			<ng-container *ngFor="let n of node.children" >
				<ng-container *ngTemplateOutlet="animation; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="graphics; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="container; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="gradient; context: { $implicit: n }" ></ng-container>
				<ng-container *ngTemplateOutlet="misc; context: { $implicit: n }" ></ng-container>
			</ng-container>
		</svg:symbol>
	</ng-container>
</ng-template>


<svg xmlns="http://www.w3.org/2000/svg"
	class="savage-app-canvas-svg-document"
	overflow="visible"
	pointer-events="all"
	[appAttrs]="document"
	[skipAttrs]="['tabindex', 'overflow', 'pointer-events']"
	[style.transform]="'scale(' + scale + ')'"
>
	<ng-container *ngFor="let node of document.children" >
		<ng-container *ngTemplateOutlet="animation; context: { $implicit: node }" ></ng-container>
		<ng-container *ngTemplateOutlet="graphics; context: { $implicit: node }" ></ng-container>
		<ng-container *ngTemplateOutlet="container; context: { $implicit: node }" ></ng-container>
		<ng-container *ngTemplateOutlet="gradient; context: { $implicit: node }" ></ng-container>
		<ng-container *ngTemplateOutlet="misc; context: { $implicit: node }" ></ng-container>
	</ng-container>
</svg>
