<mat-toolbar color="accent">
	<mat-button-toggle-group [disabled]="disabled" [vertical]="true" (click)="options.close()" (contextmenu)="rightClick($event)" >
		<mat-button-toggle matTooltip="Select and transform objects"
			[checked]="canvas.activeTool === 'OBJECT'"
			(click)="setTool('OBJECT')"
			(contextmenu)="setTool('OBJECT')"
		>
			<mat-icon svgIcon="cursor-default" ></mat-icon>
		</mat-button-toggle>
		<mat-button-toggle matTooltip="Edit paths and curves"
			[checked]="canvas.activeTool === 'PATH'"
			(click)="setTool('PATH')"
			(contextmenu)="setTool('PATH')"
		>
			<mat-icon svgIcon="vector-curve" ></mat-icon>
		</mat-button-toggle>
		<mat-button-toggle matTooltip="Draw lines"
			[checked]="canvas.activeTool === 'LINE'"
			(click)="setTool('LINE')"
			(contextmenu)="setTool('LINE')"
		>
			<mat-icon svgIcon="vector-line" ></mat-icon>
		</mat-button-toggle>
		<mat-button-toggle matTooltip="Draw rectangles or squares"
			[checked]="canvas.activeTool === 'RECT'"
			(click)="setTool('RECT')"
			(contextmenu)="setTool('RECT')"
		>
			<mat-icon svgIcon="vector-square" ></mat-icon>
		</mat-button-toggle>
		<mat-button-toggle matTooltip="Draw arcs, circles or ellipses"
			[checked]="canvas.activeTool === 'CIRCLE'"
			(click)="setTool('CIRCLE')"
			(contextmenu)="setTool('CIRCLE')"
		>
			<mat-icon svgIcon="vector-circle-variant" ></mat-icon>
		</mat-button-toggle>
		<mat-button-toggle matTooltip="Draw stars and polygons"
			[checked]="canvas.activeTool === 'POLYGON'"
			(click)="setTool('POLYGON')"
			(contextmenu)="setTool('POLYGON')"
		>
			<mat-icon svgIcon="vector-polygon" ></mat-icon>
		</mat-button-toggle>
		<mat-button-toggle matTooltip="Add or edit text"
			[checked]="canvas.activeTool === 'TEXT'"
			(click)="setTool('TEXT')"
			(contextmenu)="setTool('TEXT')"
		>
			<mat-icon svgIcon="signature-text" ></mat-icon>
		</mat-button-toggle>
		<mat-button-toggle matTooltip="Draw complex shapes"
		[checked]="canvas.activeTool === 'SHAPE'"
		(click)="setTool('SHAPE')"
		(contextmenu)="setTool('SHAPE')"
		>
			<mat-icon svgIcon="shape-plus" ></mat-icon>
		</mat-button-toggle>
		<mat-button-toggle matTooltip="Draw freehand lines and curves"
			[checked]="canvas.activeTool === 'FREEHAND'"
			(click)="setTool('FREEHAND')"
			(contextmenu)="setTool('FREEHAND')"
		>
			<mat-icon svgIcon="pencil" ></mat-icon>
		</mat-button-toggle>
		<mat-button-toggle matTooltip="Create gradients"
			[checked]="canvas.activeTool === 'GRADIENT'"
			(click)="setTool('GRADIENT')"
			(contextmenu)="setTool('GRADIENT')"
		>
			<mat-icon svgIcon="gradient" ></mat-icon>
		</mat-button-toggle>
	</mat-button-toggle-group>
</mat-toolbar>
<mat-drawer-container [hasBackdrop]="false" >
	<mat-drawer #options >
		<ng-container [ngSwitch]="canvas.activeTool" >
			<div *ngSwitchCase="'OBJECT'"
				class="savage-app-toolbar-options"
			>
				<div class="savage-app-toolbar-options-top" >
					<div class="savage-app-toolbar-options-close" >
						<button mat-icon-button
							class="savage-app-toolbar-options-close-button"
							(click)="options.close()"
						><mat-icon svgIcon="close" ></mat-icon></button>
					</div>
					<mat-list>
						<mat-list-item>
							<mat-slide-toggle [(ngModel)]="applyMatrix" >Apply matrix</mat-slide-toggle>
						</mat-list-item>
					</mat-list>
				</div>
				<div class="savage-app-toolbar-options-bottom" ></div>
			</div>
			<div *ngSwitchCase="'LINE'"
				class="savage-app-toolbar-options"
			>
				<div class="savage-app-toolbar-options-top" >
					<div class="savage-app-toolbar-options-close" >
						<button mat-icon-button
							class="savage-app-toolbar-options-close-button"
							(click)="options.close()"
						><mat-icon svgIcon="close" ></mat-icon></button>
					</div>
					<mat-list>
						<mat-list-item>
							<mat-slide-toggle [(ngModel)]="polyline" >Polyline</mat-slide-toggle>
						</mat-list-item>
					</mat-list>
				</div>
			</div>
			<div *ngSwitchCase="'POLYGON'"
				class="savage-app-toolbar-options"
			>
				<div class="savage-app-toolbar-options-top" >
					<div class="savage-app-toolbar-options-close" >
						<button mat-icon-button
							class="savage-app-toolbar-options-close-button"
							(click)="options.close()"
						><mat-icon svgIcon="close" ></mat-icon></button>
					</div>
				</div>
				<mat-list>
					<mat-list-item>
						<mat-slide-toggle [(ngModel)]="regularPolygon" >Regular polygon</mat-slide-toggle>
					</mat-list-item>
					<mat-list-item>
						<mat-form-field>
							<mat-label>Sides</mat-label>
							<input matInput type="number" [(ngModel)]="polygonSides" name="sides" >
						</mat-form-field>
					</mat-list-item>
				</mat-list>
			</div>
			<div *ngSwitchCase="'SHAPE'"
				class="savage-app-toolbar-options"
			>
				<div class="savage-app-toolbar-options-top" >
					<div class="savage-app-toolbar-options-close" >
						<button mat-icon-button
							class="savage-app-toolbar-options-close-button"
							(click)="options.close()"
						><mat-icon svgIcon="close" ></mat-icon></button>
					</div>
				</div>
				<mat-selection-list [multiple]="false" (selectionChange)="shapeModeChanged($event)" >
					<mat-list-option value="spiral" [selected]="shapeMode === 'spiral'" >
						<mat-icon mat-list-icon svgIcon="savage-spiral" ></mat-icon>
						Spiral
					</mat-list-option>
					<mat-list-option value="arrow" [selected]="shapeMode === 'arrow'" >
						<mat-icon mat-list-icon svgIcon="savage-arrow" ></mat-icon>
						Arrow
					</mat-list-option>
					<mat-list-option value="heart" [selected]="shapeMode === 'heart'" >
						<mat-icon mat-list-icon svgIcon="savage-heart" ></mat-icon>
						Heart
					</mat-list-option>
					<mat-list-option value="donut" [selected]="shapeMode === 'donut'" >
						<mat-icon mat-list-icon svgIcon="savage-donut" ></mat-icon>
						Doughnut
					</mat-list-option>
					<mat-list-option value="cylinder" [selected]="shapeMode === 'cylinder'" >
						<mat-icon mat-list-icon svgIcon="savage-cylinder" ></mat-icon>
						Cylinder
					</mat-list-option>
					<mat-list-option value="cube" [selected]="shapeMode === 'cube'" >
						<mat-icon mat-list-icon svgIcon="savage-cube" ></mat-icon>
						Cube
					</mat-list-option>
					<mat-list-option value="pyramid" [selected]="shapeMode === 'pyramid'" >
						<mat-icon mat-list-icon svgIcon="savage-pyramid" ></mat-icon>
						Pyramid
					</mat-list-option>
					<mat-list-option value="cone" [selected]="shapeMode === 'cone'" >
						<mat-icon mat-list-icon svgIcon="savage-cone" ></mat-icon>
						Cone
					</mat-list-option>
				</mat-selection-list>
				<div class="savage-app-toolbar-options-bottom" >
					<mat-list>
						<mat-list-item *ngIf="shapeMode === 'spiral'" >
							<mat-form-field>
								<mat-label>Segment Count</mat-label>
								<input matInput [(ngModel)]="spiralSegmentCount" min="3" type="number" name="segment-count" >
							</mat-form-field>
						</mat-list-item>
						<ng-container *ngIf="shapeMode === 'arrow'" >
							<mat-list-item>
								<mat-form-field>
									<mat-label>Head Width</mat-label>
									<input matInput [(ngModel)]="arrowHeadWidth" type="number" name="head-width" >
								</mat-form-field>
							</mat-list-item>
							<mat-list-item>
								<mat-form-field>
									<mat-label>Head Height</mat-label>
									<input matInput [(ngModel)]="arrowHeadHeight" type="number" name="head-height" >
								</mat-form-field>
							</mat-list-item>
							<mat-list-item>
								<mat-form-field>
									<mat-label>Width</mat-label>
									<input matInput [(ngModel)]="arrowWidth" type="number" name="arrow-width" >
								</mat-form-field>
							</mat-list-item>
						</ng-container>
						<mat-list-item *ngIf="shapeMode === 'donut'" >
							<mat-form-field>
								<mat-label>Width</mat-label>
								<input matInput [(ngModel)]="donutWidth" type="number" name="donut-width" >
							</mat-form-field>
						</mat-list-item>
					</mat-list>
				</div>
			</div>
			<div *ngSwitchCase="'FREEHAND'"
				class="savage-app-toolbar-options"
			>
				<div class="savage-app-toolbar-options-top" >
					<div class="savage-app-toolbar-options-close" >
						<button mat-icon-button
							class="savage-app-toolbar-options-close-button"
							(click)="options.close()"
						><mat-icon svgIcon="close" ></mat-icon></button>
					</div>
				</div>
				<mat-list>
					<mat-list-item>
						<mat-form-field>
							<mat-label>Simplify</mat-label>
							<input matInput type="number" [(ngModel)]="freehandSimplify" name="simplify">
						</mat-form-field>
					</mat-list-item>
					<mat-list-item>
						<mat-form-field>
							<mat-label>Smooth</mat-label>
							<mat-select #smoothSelect [(ngModel)]="freehandSmooth" name="smooth">
								<mat-option [value]="null" >None</mat-option>
								<mat-option [value]="{ type: 'continuous' }">Continuous</mat-option>
								<mat-option [value]="{ type: 'catmull-rom', factor: 0 }">Catmull-Rom, uniform</mat-option>
								<mat-option [value]="{ type: 'catmull-rom', factor: 0.5 }">Catmull-Rom, centripetal</mat-option>
								<mat-option [value]="{ type: 'catmull-rom', factor: 1 }">Catmull-Rom, chordal</mat-option>
								<mat-option [value]="{ type: 'geometric', factor: 0.4 }">Geometric</mat-option>
							</mat-select>
						</mat-form-field>
					</mat-list-item>
					<mat-list-item>
						<mat-form-field>
							<mat-label>Factor</mat-label>
							<input matInput type="number" [disabled]="!freehandSmooth || freehandSmooth?.type !== 'geometric'" [(ngModel)]="freehandSmooth && freehandSmooth.factor" name="factor" >
						</mat-form-field>
					</mat-list-item>
				</mat-list>
			</div>
			<div *ngSwitchCase="'GRADIENT'"
				class="savage-app-toolbar-options"
			>
				<div class="savage-app-toolbar-options-top" >
					<div class="savage-app-toolbar-options-close" >
						<button mat-icon-button
							class="savage-app-toolbar-options-close-button"
							(click)="options.close()"
						><mat-icon svgIcon="close" ></mat-icon></button>
					</div>
				</div>
				<mat-list>
					<mat-list-item>
						<mat-form-field>
							<mat-label>Gradient</mat-label>
							<mat-select [(ngModel)]="gradientRadial" name="radial" >
								<mat-option [value]="false" >Linear</mat-option>
								<mat-option [value]="true" >Radial</mat-option>
							</mat-select>
						</mat-form-field>
					</mat-list-item>
					<mat-list-item>
						<mat-form-field>
							<mat-label>Apply</mat-label>
							<mat-select [(ngModel)]="gradientStroke" name="stroke" >
								<mat-option [value]="false" >Fill</mat-option>
								<mat-option [value]="true" >Stroke</mat-option>
							</mat-select>
						</mat-form-field>
					</mat-list-item>
				</mat-list>
			</div>
		</ng-container>
	</mat-drawer>
	<mat-drawer-content>
		<ng-content></ng-content>
		<button mat-fab class="savage-app-toolbar-fab" [disabled]="disabled" color="accent" (click)="rawEdit()" ><mat-icon svgIcon="xml" ></mat-icon></button>
	</mat-drawer-content>
</mat-drawer-container>
