mat-toolbar {
	height: 100%;
	padding: 0;
	flex-flow: column nowrap;

	.mat-button-toggle-group {
		border-radius: 0;

		.mat-button-toggle {
			background-color: #ffffff33;
		}

		.mat-button-toggle-checked {
			background-color: #ffffff99;
		}
	}
}
