:host {
	display: flex;
	flex-flow: row nowrap;
	justify-content: stretch;
	align-items: stretch;
	width: 100%;
	height: 100%;
}

.mat-button-toggle-group {
	flex-flow: row wrap;
	border-radius: 0;

	.mat-button-toggle {
		background-color: #ffffff33;
	}

	.mat-button-toggle-checked {
		background-color: #ffffff99;
	}
}

mat-toolbar {
	width: 98px;
	min-width: 98px;
	height: 100%;
	padding: 0;
	flex-flow: column nowrap;
}

.mat-drawer-container {
	width: 100%;
	height: 100%;

	.mat-drawer {
		opacity: 0.75;
		min-width: 242px;
		width: 277px;
	}

	.savage-app-toolbar-options {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: stretch;
		padding: 10px;

		&-close {
			text-align: right;
		}
	}

	.savage-app-toolbar-fab {
		position: absolute;
		bottom: 25px;
		right: 25px;
	}
}
