<div #element
	class="savage-app-canvas" >
	<div #scrollable
		class="savage-app-canvas-scrollable"
		(mousedown)="onMouseDown($event)"
		(dblclick)="onDblClick($event)"
		(keydown)="onKeyDown($event)"
		(wheel)="zoom($event)"
		tabindex="-1"
	>
		<div #doc *ngIf="!!document"
			class="savage-app-canvas-document"
			[style.width.px]="width"
			[style.height.px]="height"
			[style.transform]="'scale(' + scale + ')'"
		>
			<app-document
				[document]="document"
				[scrollable]="scrollable"
				(dragging)="handleDrag($event)"
				(handleClick)="handleClick($event)"
				(handleDblClick)="handleDblClick($event)"
				(handleMouseDown)="handleMouseDown($event)"
				(handleKeyDown)="handleKeyDown($event)" ></app-document>

			<svg *ngIf="canvas.grid.enabled" xmlns="http://www.w3.org/2000/svg"
				class="savage-app-canvas-grid"
				[appAttrs]="document"
				[skipAttrs]="['overflow', 'pointer-events']"
				[ngStyle]="{ 'pointer-events': 'none', overflow: 'visible' }"
			>
				<svg:line *ngFor="let line of gridX" class="savage-app-canvas-grid-line"
					[attr.x1]="line"
					[attr.x2]="line"
					y1="0"
					[attr.y2]="height"
					stroke="#212121"
					[attr.stroke-width]="1 * wx / scale"
					vector-effect="non-scaling-size"
				></svg:line>
				<svg:line *ngFor="let line of gridY" class="savage-app-canvas-grid-line"
					[attr.y1]="line"
					[attr.y2]="line"
					x1="0"
					[attr.x2]="width"
					stroke="#212121"
					[attr.stroke-width]="1 * hx / scale"
					vector-effect="non-scaling-size"
				></svg:line>
			</svg>

			<svg *ngIf="canvas.guides.length" xmlns="http://www.w3.org/2000/svg"
				class="savage-app-canvas-guides"
				[appAttrs]="document"
				[skipAttrs]="['overflow', 'pointer-events']"
				[ngStyle]="{ 'pointer-events': 'none', overflow: 'visible' }"
			>
				<svg:line *ngFor="let guide of guides" class="savage-app-canvas-guides-line"
					[attr.x1]="guide.x1"
					[attr.x2]="guide.x2"
					[attr.y1]="guide.y1"
					[attr.y2]="guide.y2"
					stroke="#212121"
					[attr.stroke-width]="1 * wx / scale"
					vector-effect="non-scaling-size"
				></svg:line>
			</svg>

			<app-object-tool [document]="document" [scrollable]="scrollable" [selection]="canvas.selection" [scale]="scale" ></app-object-tool>
			<app-path-tool [document]="document" [scrollable]="scrollable" [node]="canvas.selection" [scale]="scale" ></app-path-tool>
			<app-line-tool [document]="document" [scrollable]="scrollable" [selection]="canvas.selection" [scale]="scale" ></app-line-tool>
			<app-rect-tool [document]="document" [scrollable]="scrollable" [selection]="canvas.selection" [scale]="scale" ></app-rect-tool>
			<app-circle-tool [document]="document" [scrollable]="scrollable" [selection]="canvas.selection" [scale]="scale" ></app-circle-tool>
			<app-polygon-tool [document]="document" [scrollable]="scrollable" [selection]="canvas.selection" [scale]="scale" ></app-polygon-tool>
			<app-freehand-tool [document]="document" [scrollable]="scrollable" [selection]="canvas.selection" ></app-freehand-tool>
			<app-gradient-tool [document]="document" [scrollable]="scrollable" [selection]="canvas.selection" ></app-gradient-tool>
		</div>
		<app-text-tool *ngIf="!!document" [document]="document" [scrollable]="scrollable" [node]="canvas.selection" ></app-text-tool>
	</div>
</div>
