.savage-app-container {
	height: calc(100% - 48px);

	.savage-app-drawer {
		min-width: 300px;
	}

	.savage-app-content {
		display: grid;
		grid-template-rows: [top] 100%;
		grid-template-columns: [left] 48px [center] calc(100% - 48px);

		app-toolbar {
			grid-row: top;
			grid-column: left;
		}

		app-canvas {
			grid-row: center;
			grid-column: center;
			overflow: hidden;
		}
	}

	.savage-app-sidebar {
		min-width: 450px;
	}
}
