<nav mat-tab-nav-bar mat-stretch-tabs class="savage-app-sidebar-tabs" >
	<a mat-tab-link [active]="activeView === 'shapes'" (click)="switchView('shapes')" >Shapes</a>
	<a mat-tab-link [active]="activeView === 'defs'" (click)="switchView('defs')" >Definitions</a>
</nav>

<div tabindex="-1" id="savage-app-sidebar-el-tree" class="savage-app-sidebar-el-tree">
	<!-- [BUG] If tree's visibility is set to other than visible it also hides elements on canvas -->
	<tree-root #tree [nodes]="data" [options]="options" [(state)]="state" style="visibility: visible;" >
		<ng-template #treeNodeWrapperTemplate let-node let-index="index" >
			<div class="node-wrapper" [style.padding-left]="node.getNodePadding()" >
				<button mat-icon-button [disabled]="!node.hasChildren" (click)="node.toggleExpanded()" >
					<mat-icon *ngIf="node.hasChildren" [svgIcon]="node.isExpanded ? 'chevron-down' : 'chevron-right'" ></mat-icon>
				</button>

				<div class="node-content-wrapper"
					[class.node-content-wrapper-active]="node.isActive"
					[class.node-content-wrapper-focused]="node.isFocused"
					(click)="node.mouseAction('click', $event)"
					(dblclick)="node.mouseAction('dblClick', $event)"
					(contextmenu)="node.mouseAction('contextMenu', $event)"
					(treeDrop)="node.onDrop($event)"
					[treeAllowDrop]="node.allowDrop"
					[treeDrag]="node"
					[treeDragEnabled]="node.allowDrag()"
				>
					<div class="node-content" >
						<div class="node-content-left">
							<mat-icon *ngIf="!shouldPreview(node.data)" class="node-preview" [svgIcon]="getIcon(node.data)" ></mat-icon>
							<span class="node-preview" *ngIf="shouldPreview(node.data)" >
								<span
									class="node-preview-expandable"
									[innerHTML]="getPreview(node.data) | safeHtml"
									[style.opacity]="node.data.attributes.display === 'none' ? 0.35 : 1"
								></span>
							</span>
							<span class="node-name" >{{ node.data.name }}</span>
						</div>
						<div class="node-content-center">
							<ng-container *ngIf="!primitives.includes(node.data.name)" >
								<editable class="node-editable" (save)="updateId(node.data)" >
									<ng-template viewMode >
										<span class="node-editable-label" >#{{ node.data.attributes.id }}</span>
									</ng-template>
									<ng-template editMode >
										<div class="node-editable-input-wrapper" >
											<mat-form-field>
												<input matInput editableOnEnter editableOnEscape type="text" [formControl]="editableNode[node.data.nid]" (contextmenu)="contextMenuIdentifier($event)" >
											</mat-form-field>
										</div>
									</ng-template>
								</editable>
							</ng-container>
							<ng-container *ngIf="primitives.includes(node.data.name)" >
								<div class="node-content-vertical">
									<editable class="node-editable" >
										<ng-template viewMode >
											<span class="node-editable-label">in: {{ node.data.attributes.in }}</span>
										</ng-template>
										<ng-template editMode >
											<div class="node-editable-input-wrapper" >
												<mat-form-field>
													<mat-label>in</mat-label>
													<input matInput editableOnEnter editableOnEscape type="text" [formControl]="editablePrimitive[node.data.nid].in" (contextmenu)="contextMenuIdentifier($event)" >
												</mat-form-field>
											</div>
										</ng-template>
									</editable>
									<editable class="node-editable" *ngIf="['feBlend', 'feComposite', 'feDisplacementMap'].includes(node.data.name)" >
										<ng-template viewMode >
											<span class="node-editable-label">in2: {{ node.data.attributes.in2 }}</span>
										</ng-template>
										<ng-template editMode >
											<div class="node-editable-input-wrapper" >
												<mat-form-field>
													<mat-label>in2</mat-label>
													<input matInput editableOnEnter editableOnEscape type="text" [formControl]="editablePrimitive[node.data.nid].in2" (contextmenu)="contextMenuIdentifier($event)" >
												</mat-form-field>
											</div>
										</ng-template>
									</editable>
								</div>
								<editable class="node-editable" >
									<ng-template viewMode >
										<span class="node-editable-label">result: {{ node.data.attributes.result }}</span>
									</ng-template>
									<ng-template editMode >
										<div class="node-editable-input-wrapper" >
											<mat-form-field>
												<mat-label>result</mat-label>
												<input matInput editableOnEnter editableOnEscape type="text" [formControl]="editablePrimitive[node.data.nid].result" (contextmenu)="contextMenuIdentifier($event)" >
											</mat-form-field>
										</div>
									</ng-template>
								</editable>
							</ng-container>
						</div>
						<div class="node-content-right">
							<button *ngIf="render.includes(node.data.name)" mat-icon-button (click)="toggleVisibility(node)" >
								<mat-icon
									[svgIcon]="node.data.attributes.display === 'none' ? 'eye-off' : 'eye'"
									[style.opacity]="node.data.attributes.display === 'none' ? 0.35 : 1" >
								</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</tree-root>
</div>


<mat-toolbar tabindex="-1" id="savage-app-sidebar-toolbar" class="savage-app-sidebar-toolbar" >
	<div class="savage-app-sidebar-toolbar-left">
		<button mat-icon-button matTooltip="Group" [disabled]="!canGroup(tree.treeModel.activeNodes)" (click)="groupNodes(tree.treeModel.activeNodes)" ><mat-icon svgIcon="group" ></mat-icon></button>
		<button mat-icon-button matTooltip="Link" [disabled]="!canLink(tree.treeModel.activeNodes)" (click)="linkNodes(tree.treeModel.activeNodes)" ><mat-icon svgIcon="link" ></mat-icon></button>
		<button mat-icon-button matTooltip="Ungroup" [disabled]="!canUngroup(tree.treeModel.activeNodes)" (click)="ungroupNodes(tree.treeModel.activeNodes)" ><mat-icon svgIcon="ungroup" ></mat-icon></button>
		<button mat-icon-button matTooltip="Duplicate" [disabled]="!tree.treeModel.activeNodes.length" (click)="dupeNode(tree.treeModel.activeNodes)" ><mat-icon svgIcon="content-duplicate" ></mat-icon></button>
		<button mat-icon-button matTooltip="Move to..." [disabled]="!canMove(tree.treeModel.activeNodes)" [matMenuTriggerFor]="moveMenu" [matMenuTriggerData]="{ nodes: tree.treeModel.activeNodes }" ><mat-icon svgIcon="image-move" ></mat-icon></button>
		<button mat-icon-button matTooltip="Add element" [disabled]="tree.treeModel.activeNodes.length > 1" [matMenuTriggerFor]="addMenu" [matMenuTriggerData]="{ nodes: tree.treeModel.activeNodes }" ><mat-icon svgIcon="plus" ></mat-icon></button>
		<button mat-icon-button matTooltip="Remove" [disabled]="!canRemove(tree.treeModel.activeNodes)" (click)="removeNodes(tree.treeModel.activeNodes)" ><mat-icon svgIcon="minus" ></mat-icon></button>
		<button mat-icon-button matTooltip="Path operations" [disabled]="!graphics(tree.treeModel.activeNodes)" [matMenuTriggerFor]="pathMenu" [matMenuTriggerData]="{ nodes: tree.treeModel.activeNodes }" ><mat-icon svgIcon="vector-triangle" ></mat-icon></button>
	</div>
	<div class="savage-app-sidebar-toolbar-right">
		<button mat-icon-button *ngIf="!tree.treeModel.expandedNodes.length" (click)="tree.treeModel.expandAll()" ><mat-icon svgIcon="unfold-more-horizontal" ></mat-icon></button>
		<button mat-icon-button *ngIf="tree.treeModel.expandedNodes.length" (click)="tree.treeModel.collapseAll()" ><mat-icon svgIcon="unfold-less-horizontal" ></mat-icon></button>
	</div>
</mat-toolbar>


<div #contextMenu class="savage-app-sidebar-context-menu-trigger" [matMenuTriggerFor]="menu" [matMenuTriggerData]="contextMenuData" ></div>
<mat-menu #menu >
	<ng-template matMenuContent let-nodes="nodes" >
		<button mat-menu-item *ngIf="canGroup(nodes)" (click)="groupNodes(nodes)" >Group</button>
		<button mat-menu-item *ngIf="canLink(nodes)" (click)="linkNodes(nodes)" >Link</button>
		<button mat-menu-item *ngIf="canUngroup(nodes)" (click)="ungroupNodes(nodes)" >Ungroup</button>
		<button mat-menu-item *ngIf="nodes.length" (click)="dupeNode(nodes)" >Duplicate</button>
		<button mat-menu-item *ngIf="canMove(nodes)" [matMenuTriggerFor]="moveMenu" [matMenuTriggerData]="{ nodes: nodes }" >Move to...</button>
		<button mat-menu-item *ngIf="nodes.length < 2" [matMenuTriggerFor]="addMenu" [matMenuTriggerData]="{ nodes: nodes }" >Add element</button>
		<button mat-menu-item *ngIf="canRemove(nodes)" (click)="removeNodes(nodes)" >Remove</button>
		<button mat-menu-item *ngIf="graphics(nodes)" [matMenuTriggerFor]="pathMenu" [matMenuTriggerData]="{ nodes: nodes }" >Path operations</button>
	</ng-template>
</mat-menu>
<mat-menu #moveMenu >
	<ng-template matMenuContent let-nodes="nodes" >
		<button mat-menu-item *ngIf="containmentMap.root.includes(nodes[0]?.data.name)" (click)="moveNodes(root.nid, nodes)" >Root</button>
		<button mat-menu-item *ngIf="containmentMap.defs.includes(nodes[0]?.data.name)" (click)="moveNodes(defs.nid, nodes)" >Defs</button>
		<button mat-menu-item *ngIf="containmentMap.symbol.includes(nodes[0]?.data.name)" [matMenuTriggerFor]="symbolMenu" [matMenuTriggerData]="{ nodes: nodes }" >Symbol</button>
		<button mat-menu-item *ngIf="containmentMap.clipPath.includes(nodes[0]?.data.name)" [matMenuTriggerFor]="clipPathMenu" [matMenuTriggerData]="{ nodes: nodes }" >Clip path</button>
		<button mat-menu-item *ngIf="containmentMap.marker.includes(nodes[0]?.data.name)" [matMenuTriggerFor]="markerMenu" [matMenuTriggerData]="{ nodes: nodes }" >Marker</button>
		<button mat-menu-item *ngIf="containmentMap.mask.includes(nodes[0]?.data.name)" [matMenuTriggerFor]="maskMenu" [matMenuTriggerData]="{ nodes: nodes }" >Mask</button>
		<button mat-menu-item *ngIf="containmentMap.pattern.includes(nodes[0]?.data.name)" [matMenuTriggerFor]="patternMenu" [matMenuTriggerData]="{ nodes: nodes }" >Pattern</button>
	</ng-template>
	<mat-menu #symbolMenu >
		<ng-template matMenuContent let-nodes="nodes" >
			<button mat-menu-item (click)="addContainer('symbol', nodes)" >New symbol</button>
			<button mat-menu-item *ngFor="let symbol of definitions.symbols" (click)="moveNodes(symbol.nid, nodes)" >{{ symbol.id }}</button>
		</ng-template>
	</mat-menu>
	<mat-menu #clipPathMenu >
		<ng-template matMenuContent let-nodes="nodes" >
			<button mat-menu-item (click)="addContainer('clipPath', nodes)" >New clip path</button>
			<button mat-menu-item *ngFor="let clipPath of definitions.clipPaths" (click)="moveNodes(clipPath.nid, nodes)" >#{{ clipPath.id }}</button>
		</ng-template>
	</mat-menu>
	<mat-menu #markerMenu >
		<ng-template matMenuContent let-nodes="nodes" >
			<button mat-menu-item (click)="addContainer('marker', nodes)" >New marker</button>
			<button mat-menu-item *ngFor="let marker of definitions.markers" (click)="moveNodes(marker.nid, nodes)" >#{{ marker.id }}</button>
		</ng-template>
	</mat-menu>
	<mat-menu #maskMenu >
		<ng-template matMenuContent let-nodes="nodes" >
			<button mat-menu-item (click)="addContainer('mask', nodes)" >New mask</button>
			<button mat-menu-item *ngFor="let mask of definitions.masks" (click)="moveNodes(mask.nid, nodes)" >#{{ mask.id }}</button>
		</ng-template>
	</mat-menu>
	<mat-menu #patternMenu >
		<ng-template matMenuContent let-nodes="nodes" >
			<button mat-menu-item (click)="addContainer('pattern', nodes)" >New pattern</button>
			<button mat-menu-item *ngFor="let pattern of definitions.patterns" (click)="moveNodes(pattern.nid, nodes)" >#{{ pattern.id }}</button>
		</ng-template>
	</mat-menu>
</mat-menu>
<mat-menu #addMenu >
	<ng-template matMenuContent let-node="nodes[0]" >
		<button mat-menu-item *ngIf="render.includes(node?.data.name) || node?.data.name === 'animateMotion'" [matMenuTriggerFor]="animationMenu" [matMenuTriggerData]="{ node: node }" >Animation</button>
		<button mat-menu-item *ngIf="node?.data.name === 'defs' || checkParent('defs', node)" (click)="addNode('filter', node)" >Filter</button>
		<button mat-menu-item *ngIf="node?.data.name === 'filter' || checkParent('filter', node)" [matMenuTriggerFor]="primitiveMenu" [matMenuTriggerData]="{ node: node }" >Filter primitive</button>
		<button mat-menu-item *ngIf="activeView === 'shapes'" (click)="addNodeHref('image', node)" >Image</button>
		<button mat-menu-item *ngIf="activeView === 'shapes'" (click)="addNodeHref('use', node)" >Symbol ref (&lt;use&gt;)</button>
		<button mat-menu-item *ngIf="['text', 'textPath', 'tspan'].includes(node?.data.name)" (click)="addNode('tspan', node)" >Text span (&lt;tspan&gt;)</button>
		<button mat-menu-item *ngIf="node?.data.name === 'text'" (click)="addNodeHref('textPath', node)" >Text path</button>
	</ng-template>
	<mat-menu #animationMenu >
		<ng-template matMenuContent let-node="node" >
			<button mat-menu-item *ngIf="containmentMap[node?.data.name]?.includes('animate')" (click)="addNode('animate', node)" >&lt;animate&gt;</button>
			<button mat-menu-item *ngIf="containmentMap[node?.data.name]?.includes('animateMotion')" (click)="addNode('animateMotion', node)" >&lt;animateMotion&gt;</button>
			<button mat-menu-item *ngIf="containmentMap[node?.data.name]?.includes('animateTransform')" (click)="addNode('animateTransform', node)" >&lt;animateTransform&gt;</button>
			<button mat-menu-item *ngIf="containmentMap[node?.data.name]?.includes('discard')" (click)="addNode('discard', node)" >&lt;discard&gt;</button>
			<button mat-menu-item *ngIf="containmentMap[node?.data.name]?.includes('set')" (click)="addNode('set', node)" >&lt;set&gt;</button>
			<button mat-menu-item *ngIf="node?.data.name === 'animateMotion'" (click)="addNode('mpath', node)" >&lt;mpath&gt;</button>
		</ng-template>
	</mat-menu>
	<mat-menu #primitiveMenu >
		<ng-template matMenuContent let-node="node" >
			<ng-container *ngFor="let primitive of primitivesFiltered" >
				<button mat-menu-item *ngIf="!node?.data.name.startsWith('fe')" (click)="addPrimitiveNode(primitive, node)" >{{ primitive }}</button>
			</ng-container>
			<ng-container *ngIf="node?.data.name !== 'filter'" >
				<ng-container *ngFor="let primitive of primitives" >
					<button mat-menu-item *ngIf="containmentMap[node?.data.name]?.includes(primitive)" (click)="addPrimitiveNode(primitive, node)" >{{ primitive }}</button>
				</ng-container>
			</ng-container>
		</ng-template>
	</mat-menu>
</mat-menu>
<mat-menu #pathMenu >
	<ng-template matMenuContent let-nodes="nodes" >
		<button mat-menu-item *ngIf="graphics(nodes)" (click)="shape2path(nodes)" >Convert to path</button>
		<button mat-menu-item *ngIf="canBoolean(nodes)" (click)="booleanOp('combine', nodes)" >Combine</button>
		<button mat-menu-item *ngIf="canBreakApart(nodes)" (click)="breakApart(nodes)" >Break apart</button>
		<button mat-menu-item *ngIf="canBoolean(nodes)" [matMenuTriggerFor]="booleanMenu" [matMenuTriggerData]="{ nodes: nodes }" >Boolean operation</button>
	</ng-template>
</mat-menu>
<mat-menu #booleanMenu >
	<ng-template matMenuContent let-nodes="nodes" >
		<button mat-menu-item (click)="booleanOp('unite', nodes)">Unite</button>
		<button mat-menu-item (click)="booleanOp('intersect', nodes)">Intersect</button>
		<button mat-menu-item (click)="booleanOp('subtract', nodes)">Subtract</button>
		<button mat-menu-item (click)="booleanOp('exclude', nodes)">Exclude</button>
		<button mat-menu-item (click)="booleanOp('divide', nodes)">Divide</button>
	</ng-template>
</mat-menu>
