/* You can add global styles to this file, and also import other style files */
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';
@import '~material-community-components/theming';

@include mat-core();

$savage-app-primary: mat-palette($mat-gray, 800);
$savage-app-accent:  mat-palette($mat-green, 900);
$savage-app-warn:    mat-palette($mat-red);

$savage-app-light-theme:   mat-light-theme((
  color: (
    primary: $savage-app-primary,
    accent: $savage-app-accent,
    warn: $savage-app-warn,
  )
));
@include angular-material-theme($savage-app-light-theme);
@include mcc-theme($savage-app-light-theme);

$savage-app-dark-theme: mat-dark-theme((
  color: (
    primary: $savage-app-primary,
    accent: $savage-app-accent,
    warn: $savage-app-warn,
  )
));

.savage-app-dark-theme {
  @include angular-material-color($savage-app-dark-theme);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

:root {
	--accent: #33691e;
	--text: #221122;
	--subtext: #9e9e9e;
	--list-item-selected: #bdbdbd;
	--list-item-focused: #e0e0e0;
}

html, body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	color: var(--text);
}

.savage-app-toolbar-menu.mat-menu-panel {
	min-width: 48px;

	.mat-menu-content {
		padding: 0;

		.mat-menu-item {
			padding: 8px;

			.mat-icon {
				padding: 8px;
				margin: 0;
				vertical-align: unset;
			}
		}
	}
}

.savage-app-canvas-document *:focus {
	outline: none;
}

.savage-app-canvas-document * {
	user-select: none;
	touch-action: none;
}

.savage-app-bottom-sheet {
	min-width: 80vw !important;
	max-width: 80vw !important;
}

.node-drop-slot.is-dragging-over {
	background-color: var(--list-item-focused);
	height: 40px;
	border: none;
}

.angular-tree-component {
	overflow: hidden;
}
